.Border {
    border: solid 1px red;
    background-color: gray;
    padding: 5px;
    color: white;
}

.Previwer {
    margin: 15px;
    border: black 0.5px dotted;

    grid-area: previwer;

}

.Previwer div{

    display: flex;

    flex-direction: column;


} 