.Border {
    border: solid 1px red;
    background-color: gray;
    padding: 5px;
    color: white;
}

.Previwer {
    /* border: black 0.5px dotted; */
    
    margin: 15px;
    grid-area: previwer;
    height: 650px;
    display: grid;
    grid-template-columns: 100px repeat(3, auto) 100px;
    grid-template-rows: repeat(3, 40px)  auto repeat(2, 40px) 90px;
    grid-template-areas: 
        ".      control    control    control    ."
        "input1 control    control    control    input2"
        "input1 test-space test-space test-space input2"
        ".      test-space test-space test-space ."
        "input3 test-space test-space test-space input4"
        "input3 .          copy-area  .          input4"
        ".      .          copy-area  .          ."

}

.Previwer > div{

    margin: 3px;
    padding: 1px;
} 

.Change:hover {

    background-color: #ebeb05;
} 