.Border {
    border: solid 1px red;
    background-color: gray;
    padding: 5px;
    color: white;
}

.Previwer {
    margin: 15px;
    border: black 0.5px dotted;

    grid-area: previwer;

    display: grid;
    grid-template-columns: 50px repeat(3, auto) 50px;
    grid-template-rows: 30px  auto 30px;
    grid-template-areas: 
        "input1 control control control input2"
        ". test-space test-space test-space ."
        "input3 . copy-area . input4"

}

/* .Previwer div{

    display: flex;

    flex-direction: column;


}  */